.izzy-timeline-wrapper {
  --colorMain: #6dd3be;
  --colorSecondary: #6dd3be00;
  --colorBackground: #ebebeb;
  --colorHeader: var(--colorBackground);
  --colorDescription: #121414;

  --colorDone: #774242;
  --colorDropped: #774242;
  --colorActive: var(--colorMain);
  --colorHiatus: var(--colorMain);
  --colorIdea: #689db8;

  --borderWidth: 3px;

  --hoverFilter: brightness(1.3);
  --hoverTransition: 1s ease;

  --letterSpacing: 1px;

  --gapS: calc(var(--gapM) * 0.75);
  --gapM: 20px;
  --gapL: calc(var(--gapM) * 1.5);
}
.izzy-timeline {
  max-width: 500px;
  margin: auto;
  font-family: sans-serif;
  overflow: hidden;
  position: relative;
}
.izzy-timeline:before {
  content: "";
  position: absolute;
  height: 100%;
  width: var(--borderWidth);
  background-color: var(--colorMain);
  border-radius: var(--borderWidth);
}
.izzy-timeline * {
  padding: 0;
  margin: 0;
}
.izzy-timeline .izzy-divider {
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--colorMain);
  background: linear-gradient(
    to right,
    var(--colorMain),
    var(--colorSecondary, var(--colorMain))
  );
  color: var(--colorHeader);
  padding: var(--gapS) var(--gapL);
  margin: var(--gapM) 0 var(--gapL);
  border-radius: 0 var(--borderWidth) var(--borderWidth) 0;
  letter-spacing: var(--letterSpacing);
}
.izzy-timeline .izzy-threads-group {
  display: grid;
  gap: var(--gapM);
  margin: var(--gapM) var(--gapS) var(--gapL) var(--gapM);
}
.izzy-timeline .izzy-done {
  --colorStatus: var(--colorDone);
}
.izzy-timeline .izzy-dropped {
  --colorStatus: var(--colorDropped);
}
.izzy-timeline .izzy-hiatus {
  --colorStatus: var(--colorHiatus);
}
.izzy-timeline .izzy-active {
  --colorStatus: var(--colorActive);
}
.izzy-timeline .izzy-idea {
  --colorStatus: var(--colorIdea);
}
.izzy-timeline .izzy-thread {
  position: relative;
  display: grid;
  grid-template-columns: 4rem 1fr;
  background-color: var(--colorBackground);
  border-radius: var(--borderWidth);
  box-shadow: 0 5px 8px -2px black;
  z-index: 1;
}
.izzy-timeline .izzy-thread:before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  border-top: var(--borderWidth) solid var(--colorStatus, var(--colorMain));
  position: absolute;
  z-index: -1;
  left: -50%;
  top: 48%;
}
.izzy-timeline .izzy-thread-info {
  padding: var(--gapS);
  display: grid;
  gap: 0.25em;
  background: var(--colorBackground);
}
.izzy-timeline .izzy-thread-name {
  display: block;
  text-decoration: none;
  color: var(--colorStatus);
  font-weight: 600;
  letter-spacing: var(--letterSpacing);
}
.izzy-timeline-wrapper .izzy-thread-name::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.izzy-timeline .izzy-thread:hover .izzy-thread-name {
  color: var(--colorStatus);
}

.izzy-timeline .izzy-thread-name span,
.izzy-timeline .izzy-thread-status {
  transition: var(--hoverTransition);
}

.izzy-timeline .izzy-thread:hover .izzy-thread-name span,
.izzy-timeline .izzy-thread:hover .izzy-thread-status {
  filter: var(--hoverFilter);
}
.izzy-timeline .izzy-thread-details {
  font-size: 0.9em;
  line-height: 1.5;
  color: var(--colorDescription);
}
.izzy-timeline .izzy-thread-status {
  --size: 1.8rem;
  background-color: var(--colorStatus, var(--colorMain));
  font-size: 0.6em;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--gapS);
  text-transform: uppercase;
  color: var(--colorHeader);
  gap: 0.5em;
  letter-spacing: var(--letterSpacing);
  border-radius: var(--borderWidth) 0 0 var(--borderWidth);
}
.izzy-timeline .izzy-thread-status svg {
  color: var(--statusText);
  height: var(--size);
  width: var(--size);
}
